@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

  :root {
  --cor-01:rgb(255, 255, 255);
  --cor-02:#f0f4f8;
  --cor-03:darkblue;
  --cor-04: rgb(229,229,229);
  --cor-05:#EAF4FB;}
*{
  max-width: 100%;
  text-decoration: none;
  color: black;


}

body{
    background-color:lightgray;
    background-image: url(img/img-fundo\ \(2\).png);
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
    margin: 8px 8px 8px 8px;
    
}


.menu-container {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  background-color: var(--cor-04); 
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1); 
  text-decoration: none;
  color: black;


}

.menu{
  width: 100%;
  background-color: var(--cor-04); 
  font-family: "Oswald", sans-serif;
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 1.5em;
  padding: 20px 0px 15px 40px;
  margin: -15px;
  cursor: pointer;
   text-decoration: none;
  color: black;

}
#menu00:hover{
  text-decoration:underline;
    transform: scale(1.4);
  transition: 0.3s;
}
#menu01:hover{
  background-color: darkgrey;
  text-decoration:underline;
    transform: scale(1.2);
  transition: 0.3s;
}


#menu02:hover{
  background-color: darkgrey;
   text-decoration:underline;
     transform: scale(1.2);
  transition: 0.3s;

}
#menu03:hover{
  background-color: darkgrey;
  text-decoration:underline;
    transform: scale(1.2);
  transition: 0.3s;
}
#menu04:hover{
  background-color: darkgrey;
  text-decoration:underline;
    transform: scale(1.2);
  transition: 0.3s;
}
#menu05:hover{
  background-color: darkgrey;
  text-decoration:underline;
    transform: scale(1.2);
  transition: 0.3s;
}


#img01{
  margin-top: -30px;
  margin: 15px 0px 0px -7px;
}
.h1pgcmc{
  text-align: center;
  font-size: 2.3em;
  font-family:"Radley", sans-serif ;
  background-color: var(--cor-04);
  border-radius: 15px;
  margin:auto;
   width: 35%;
}
/*menu02*/
.rp01 {
 flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 170px;
  padding: 0;
  margin: 40px 0;
  cursor: pointer;

}

.rp01 li {
  text-align: center;
  border-radius: 15px;
}
.rp02 {
 flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 170px;
  padding: 0;
  margin: 40px 0;
  cursor: pointer;

}

.rp02 li {
  text-align: center;
  border-radius: 15px;
}
.item-servico{
    border: 2px solid black;
  border-radius: 15px;
    padding: 15px;
  background-color: #fff;
}
.item-servico1{
    border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  background-color: #fff;
}
.item-servico2{
    border: 2px solid black;
  border-radius: 15px;
    padding: 15px;
  background-color: #fff;
}
.item-servico3{
    border: 2px solid black;
  border-radius: 15px;
    padding: 15px;
  background-color: #fff;
  height: 200px;
}
.item-servico img {
  width: 150px; /* ajuste o tamanho como quiser */
  transition: transform 0.3s;
  border-radius: 10px;
}
.item-servico p {
   word-spacing: 2px;
  margin-top: 10px;
  font-size: 1.7em;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  transition: 0.3s;

}

.item-servico p:hover {
  color: rgba(40, 40, 40, 0.7);
  text-decoration: underline;
  transform: scale(1.09);
  transition: 0.3s ease;
}

.item-servico1 img {
  width: 150px; /* ajuste o tamanho como quiser */
  transition: transform 0.3s;
  border-radius: 10px;
}

.item-servico1 p {
   word-spacing: 2px;
  margin-top: 10px;
  font-size: 1.7em;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  transition: 0.3s;

}

.item-servico1 p:hover {
  color: rgba(40, 40, 40, 0.7);
  text-decoration: underline;
  transform: scale(1.09);
  transition: 0.3s ease;
}

.item-servico2 img {
  width: 150px; /* ajuste o tamanho como quiser */
  transition: transform 0.3s;
  border-radius: 10px;
}


.item-servico2 p {
   word-spacing: 2px;
  margin-top: 10px;
  font-size: 1.7em;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  transition: 0.3s;

}

.item-servico2 p:hover {
  color: rgba(40, 40, 40, 0.7);
  text-decoration: underline;
  transform: scale(1.09);
  transition: 0.3s ease;
}

.item-servico3 img {
  width: 150px; /* ajuste o tamanho como quiser */
  transition: transform 0.3s;
  border-radius: 10px;
}

.item-servico3 p {
   word-spacing: 2px;
  margin-top: 10px;
  font-size: 1.7em;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  transition: 0.3s;

}

.item-servico3 p:hover {
  color: rgba(40, 40, 40, 0.7);
  text-decoration: underline;
  transform: scale(1.09);
  transition: 0.3s ease;
}
.item-servico:hover{
  transform: scale(1.09);
  transition: 0.3s ease;
}
.item-servico1:hover{
  transform: scale(1.09);
  transition: 0.3s ease;
}
.item-servico2:hover{
  transform: scale(1.09);
  transition: 0.3s ease;
}
.item-servico3:hover{ 
   transform: scale(1.09);
  transition: 0.3s ease;
}


   /*acabou*/

 /* menu 03 produtos destaques */
 #h201{
   font-family: "Radley", serif;
  font-size: 2.9em;
  text-align: center;
  padding-bottom: 10px;

  background-color: var(--cor-04);
   margin:auto;
   width: 33%;
   border-radius: 15px;
 
  
 }
 #ul03{
  
  cursor: pointer;
  padding: 35px;
  font-family: "Oswald", sans-serif;
  font-size: 1.6em;
  list-style: none;
  display: flex;
  gap: 165px;
  margin-left: 510px;
  cursor:pointer ;

 }
.destaque {
  background-color: var(--cor-04);
  border: 1.5px solid rgb(54, 54, 54);
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  width: 180px; /* ajuste conforme suas imagens */
  transition: 0.3s;
}
.destaque > .descricao{
  display: none;
}

.destaque img {
  width: 100%; /* para se ajustar ao tamanho do li */
  border-radius: 10px;
}
.desc {
  font-size: 1.2em;
  margin-top: 15px;
}
.descricao{
  font-family: "Oswald", sans-serif;
  font-size: 0.8em;
}

.destaque.ativo {
  transform: scale(1.05);
  z-index: 10;
  position: relative;
}

.destaque.ativo > .descricao {
  display: block;
}

 /*Acabou*/
 /*tratamento manchas*/

.h1tratamento{
  text-align: center;
  font-family: "Radley", serif;
  font-size: 2.9em;
  padding-bottom: 10px;
  background-color: var(--cor-04);
   margin:auto;
   width: 33%;
   border-radius: 15px;
}
.tratamento{
padding-top: 25px;
justify-content: center;
 list-style: none; 
 text-align: center;
  display: flex;
  gap: 65px;
  cursor:pointer ;
  
}
.mancha{
 background-color: var(--cor-04);
  border: 1.5px solid rgb(54, 54, 54);
  border-radius: 15px;
  padding: 10px;
  font-size: 1.5em;
   font-family: "Radley", serif;
     transition: 0.3s;
     position: relative;
}


.descricao01 {
  font-family: "Radley", serif;
  font-size: 1.05em;
  display: none;
}

.mancha.ativo {
  transform: scale(1.05);
  z-index: 10;
}

.mancha.ativo .descricao01 {
  display: block;
}

 /*Acabou*/
 /*slide*/
.carrosel-wrapper {
  background-color: var(--cor-04);
  height: 100%;
    width: 900px; 
    margin: 50px auto; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.carrosel {
    
    display: flex;
    align-items: center; 
    justify-content: center;
    height: auto; 
}

.carrosel-track {
  
    display: flex;
    transition: transform 0.5s ease-in-out; }

.carrosel-img {
   
     width: auto;
    height: auto; 
    max-width: 100%;
    display: block;
    flex-shrink: 0; 
    object-fit: contain;
}


 /*fim slide*/
 #uldaul{
  display: flex;
 }
 /*pp*/
 #pp01{
  display: block;
   text-align: center;
   font-size: 2em;
   font-family: "Radley", serif;
   background-color: rgb(229, 229, 229);
   margin: auto;
   width: 33%;
  border-radius: 15px ;
  
 }
 
.ul04 {
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 0px;
  padding: 0;
  margin: 45px 0px;
}

.promo01 {
  background-color: rgb(229, 229, 229);
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid rgb(54, 54, 54);
  transition: transform 0.3s ease;
  width: 260px;
  min-height: 340px; /* Espaço reservado para o texto aparecer */
  position: relative;
  overflow: hidden;
}

.promo01 img {
  display: flex;
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.pdapromo {
  font-family: "Oswald", sans-serif;
  transition: transform 0.3s ease;
}

.pdapromo.titulo {
  font-size: 2em;
  margin-top: 10px;
}

.pdapromo.detalhe {
  font-size: 1.4em;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  height: auto;
  pointer-events: none; /* Evita cliques */

}
.promo01.ativo {
  transform: scale(1.05);
}

.promo01.ativo .pdapromo.titulo {
  transform: scale(1.05);
}

.promo01.ativo .pdapromo.detalhe {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

 /*acabou*/

 #h202{
  word-spacing: 2px;
  margin: 0;
  text-align: center;
 }
#qm01 {
  display: flex;
  justify-content: center;   /* Centraliza horizontalmente */
  align-items: center;       /* Centraliza verticalmente */
  transform: scale(0.7);     /* Reduz tudo em 30% */
  transform-origin: center;  /* Garante que o centro seja a base do redimensionamento */
  margin: auto;
}

#texto01 {
  margin: auto;
  font-family: "Radley", serif;
  text-indent: 2px;
  font-size: 1.5em;
  background-color: rgb(228, 227, 227);
  padding: -35px 35px 35px 35px ;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 1px 1px rgb(128, 127, 127);
  word-spacing: 5px;
  text-align: center;
}

#ft-lav picture img {
  display: block;
  margin: auto;
  height: 645px;
  margin-bottom: -50px;
}
/**/
#finalpg01{
  padding-top: 35px;
 font-family: "Radley", serif;
  background-color: rgb(229, 229, 229);
  text-align: center;
  height: 100%;
  width: 100%;
}
#h1final{
   text-align: center;
   font-size: 3.5em;
}
#pfinal{
   font-size: 1.6em;
}
#h2final{
  font-size: 1.7em;
}
/**/
#h2dvd{
  font-size: 2.5em;
}

.faq-lista {
  position: sticky;
  top: 80px;
  max-height: calc(100vh - 80px); 
  overflow-y: auto; 
  column-gap: 40px;
  list-style: none;
  font-family: "Radley", serif;
  margin: 30px auto;
  max-width: 900px;
  padding: 0 20px;
}


.faq-item {

  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  break-inside: avoid; /* para colunas, não quebrar o item no meio */
}

.faq-pergunta {
  background: none;
  border: none;
  font-size: 1.3em;
  width: 100%;
  text-align: left;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0;
}

.faq-toggle {
  
  font-weight: bold;
  font-size: 1.5em;
  transition: transform 0.2s ease;
}

.faq-resposta {
  font-size: 1em;
  margin-top: 10px;
  display: none;
  animation: fadeIn 0.3s ease forwards;
}

.faq-item.ativo .faq-resposta {
  display: block;
}

.faq-item.ativo .faq-toggle {
  transform: rotate(45deg);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to   { opacity: 1; transform: translateY(0); }
}
#footer{
    text-align: center;
     background-color: rgb(229, 229, 229);
     margin-top: -30px;
     text-decoration: none;
     color: black;
}
@media screen and (max-width:1324px)
 {
  *{
    max-width: 100%;
  }
  body{
    width: 100%;
    height: 100vh;
  }

 #bt01{
  height: 25px;
 }

#bt01:hover{
height: none;
transform: none;
 }
.h1pgcmc{
     width: 80%;
 font-size: 1.7em;
 margin-bottom: 130px;

 text-align: center;
 justify-content: center;
}
 .rp01{
   margin-top: -95px;
   display: flex;
   padding: 5px;
  justify-content: center;
  text-align: center;
   font-size: 0.9em;
   gap: 27px;
 }
 .rp01 li{
  padding: 5px;
  width: 35%;
  text-align: center;
 }
 .rp01 img{
  max-width: 75%;

 }
 .rp02{
   margin-top: -25px;
   display: flex;
   padding: 5px;
  justify-content: center;
    gap: 25px;
   font-size: 0.95em;
  height: 250px;
 }
 .rp02 li{
  padding: 10px;
  width: 35%;
  text-align: center;
 }
 .rp02 img{
  max-width: 75%;

 }
 #h201{
  font-size: 2.3em;
  width: 50%;
  padding: 10px;
 }

 #ul03{
  margin-left: 125px;
  display: flex;
  column-count: 2;
  width: 85%;
  gap: 55px;

 }

.destaque {
  justify-content: center;
  width: 190px;
}

.destaque img {
  justify-content: center;
  width: 100%; 
  border-radius: 10px;
}

.desc {
  justify-content: center;
  font-size: 1.2em;
  margin-top: 15px;
}

#ul03 li:hover {

  transform: none;
  transition: none;
}
.h1tratamento{
     width: 80%;
 font-size: 2.8em;
 text-align: center;
 justify-content: center;

}
.tratamento{
  margin-left: 55px;
  width: 75%;
  text-align: center;
 display: flex;
}
.mancha li{
  gap: 1px;
  display: flex;

}
.mancha img{
   justify-content: center;
  width: 100%; 
  border-radius: 10px;
}
.descricao{
    justify-content: center;
  font-size: 0.5em;
  margin-top: 15px;
}
.mancha h2{
    justify-content: center;
  font-size: 0.9em;
  margin-top: 15px;
}

.carrosel-wrapper{
  width: 80%;
  justify-content: center;
}
#pp01{
   font-size: 1.9em;
  width:50%;
  padding: 0px;
  text-align: center;
  gap: 10px;
}

#ft-lav{
  justify-content: center;
  margin-left: 10px;
}
#uldaul{
 display: inline-block;
    width:60%;
    margin-left: 37px;
}
}

@media screen and (max-width:480px)
{
  *{
      max-width: 100%;
  }
  body{
    background-image: none;
  }
  .menu-container {
     max-width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0px;
  }
  .menu {
    text-align: center;
  height: 5vh;
  width: 100%;
  max-width: 100%;
  gap: 10px;
   padding: 0;
  margin-top: 5px;
    margin-left: -15px;
  margin-bottom: 5px;
    font-size: 1em; /* Reduz o tamanho da fonte */
  }

  .menu li {
    width: 100%;
    text-align: center;
  }
  #menu00{
   display: none;
  }
   #menu01{
    margin-left: 10px;
  }

  #ft-001 img{
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.h1pgcmc{
   width: 80%;
 font-size: 1.1em;
 margin-bottom: 130px;
 margin-left: 30px;
 text-align: center;
 justify-content: center;

}
 .item-servico3{
 height: 133px; 
}

.rp01{
   margin-top: -95px;
   display: flex;
   padding: 0;
  justify-content: center;
    gap: 10px;
   font-size: 0.7em;
  margin-right: 20px;
 }
 .rp01 li{
  padding: 4px;
  width: 30%;
  text-align: center;
 }
 .rp01 img{
  max-width: 75%;

 }
 .rp02{
   margin-right: 20px;
   margin-top: -25px;
   display: flex;
   padding: 0;
  justify-content: center;
    gap: 10px;
   font-size: 0.7em;
  height: 200px;
 }
 .rp02 li{
  padding: 4px;
  width: 30%;
  text-align: center;
 }
 .rp02 img{
  max-width: 75%;

 }
#h201{
  text-align: center;
    font-size: 1.9em;
    width: 80%;
  margin-right: 40px;
 }
 #ul03{
  margin: auto;
  display: flex;
  column-count: 2;
  width: 60%;
  gap: 35px;
  font-size: 1.3em;
 }

.destaque > li{
  width: 60%;
  margin: auto;
  justify-content: center;
  gap: 20px;
  display: flex;
}


.destaque img {
  justify-content: center;

  border-radius: 10px;
}

.desc {
  justify-content: center;
  font-size: 0.9em;
  margin-top: 15px;
}

#ul03 li:hover {

  transform: scale(1.1);
  transition: 0.3s;
}
/**/
.h1tratamento{
  margin: auto;
     width: 80%;
 font-size: 1.9em;
 text-align: center;
 justify-content: center;

}
.tratamento{
  padding-left: 0px;
  padding-bottom: 25px;
  margin: auto;
  width: 75%;
  text-align: center;
}
.mancha li{
  gap: 1px;
  display: flex;

}
.mancha img{
   justify-content: center;
  width: 100%; 
  border-radius: 10px;
}
.descricao{
    justify-content: center;
  font-size: 0.5em;
  margin-top: 15px;
}
.mancha h2{
    justify-content: center;
  font-size: 0.9em;
  margin-top: 15px;
}

/**/
.carrosel-wrapper{
  justify-content: center;
  width: 80%;
  margin: auto;
   margin-right: 47px;
}
/**/
#pp01{ 
    font-size: 1.3em;
    width: 80%;
    margin: auto;
}
  #uldaul{
    padding-left: 0;
    margin: auto;
    display: block;
    width:40%;
    font-size: 0.9em;
    padding-bottom: -25px;
    padding-bottom: 0px;

  }
.ul04{
  margin-top: 5px;
}
/**/

#ft-lav{
  margin: auto;
    width: 62%;
    height: 630px;


}
#qm01{
  margin-top: -175px;
}
#texto01{
  padding: 0px 20px;
}


#faq-item li{
  font-size: 0.9em;
  justify-items: center;
  justify-content: center;
  color: black;
}
#faq-resposta p{ 
  margin-right: 20px;
}
#finalpg01{
  font-size: 0.7em;
  text-align: center;

}

#menu00:hover{
  transform: none;
}
#menu01:hover{
 transform: none;
}
#menu02:hover{
 transform: none;
}
#menu03:hover{
 transform: none;
}
#menu04:hover{
 transform: none;
}
.carrinho:hover{
 transform: none;
}
#cx01:hover{
 transform: none;
}
#bt01:hover{
height: auto;
}
.item-servico p:hover {
 transform: none;
}
.item-servico1 p:hover{
 transform: none;
}
.item-servico2 p:hover{
 transform: none;
}
.item-servico3 p:hover{
 transform: none;
}
.item-servico:hover{
 transform: none;
}
.item-servico1:hover{
 transform: none;
}
.item-servico2:hover{
 transform: none;
}
.item-servico3:hover{
 transform: none;
}
#ul03 li:hover{
 transform: none;
}
.promo01:hover {
 transform: none;
}
.promo01:hover .pdapromo.titulo{
 transform: none;
}
.promo01:hover .pdapromo.detalhe{
 transform: none;  
}
header{
  width: 100%;
}

}